@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
}

body {
    padding-top: 12vh;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%; /* altura da barra de navegação */
    background-color: #103f01;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.logo {
    background-color: #fff;
    width: 100%;      /* largura proporcional */
    height: 80%;    /* altura proporcional à navbar */
    border-radius: 50%;
    margin-left: 1%;
}

.nav-menu {
    display: flex;
    flex-grow: 1;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    display: inline-block;
    margin-left: 2%;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    white-space: nowrap;
}

#slogan {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 40px 0;
    color: #103f01;
}


/* Layout geral */
.promo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

/* Coluna principal */
.promo-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

/* Imagens principais */
.promo-img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Coluna lateral */
.promo-lateral {
    width: 23%;
}

.lateral {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}





