* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    padding-top: 12vh; 
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Mudei de '12%' para '12vh' para garantir que a altura seja baseada na viewport,
       o que é crucial para um elemento 'position: fixed' */
    height: 12vh; 
    background-color: #103f01;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.logo {
    background-color: #fff;
    width: 100%; 	  /* largura proporcional */
    height: 80%; 	 /* altura proporcional à navbar */
    border-radius: 50%;
    margin-left: 1%;
}

.nav-menu {
    display: flex;
    flex-grow: 1;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    display: inline-block;
    margin-left: 2%;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-weight: bold;
    white-space: nowrap;
}
#slogan {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 40px 0;
    color: #103f01;
}

#promo1 {
    margin-left: 20%;
}

#promo2 {
    margin-left: 20%;
}

#promo3 {
    margin-left: 21%;
    
}



